/*Aliaksandra Hrechka
  September 10, 2020 
  CWB 205 */
body {
    width: 40%;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}

input {
    height: 30px;
    width: 100px;
    margin-bottom: 5px;
    display: inline-block;
    float: left;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: left; 
}

button{
    background-color: #0094ff;
    color: white;
    width: 100px;
    height: auto;
}

#button {
    display: inline-block;
    width: 100%;
}

hr{
    margin-bottom:20px;
}
