h1{
    text-align: center;
}
#large {
    height: 400px;
    width: 400px;
    margin: 10px;
    padding: 5px;
}

.small {
    height: 200px;
    width: 200px;
    margin: 10px;
    float: left;
    padding:5px;
}

.row {
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

li{
    display: inline;
}

#breeds {
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

